@define-color main #232323;
@define-color accent #f0f0f0;
@define-color font #f0f0f0;  
@define-color separator transparent;

@define-color grad_from #171717;
@define-color grad_to #232323; 

@define-color warning #c9545d;
@define-color critical #ff0000;

@keyframes blink-warning {
	80% {
	        color: @font;
	} to {
		color: @warning;
                border-top: 2px solid @warning;
	}
}
@keyframes blink-critical {
	80% {
		color: @font;
	} to {
		color: @critical;
                border-top: 2px solid @warning;
	}
}

* {
	border: none;
	border-radius: 0;
	min-height: 20px;
	margin: 0;
	padding: 0;
	color: @font;
	font-family: "JetBrainsMono Nerd Font";
}

#waybar {
	border: solid;
	border-color: white;
	border-radius: 10;
	background: linear-gradient(rgba(17, 17, 17, 0.90) 0%, rgba(23, 23, 23, 0.90) 100%);
    font-size: 10pt;
	opacity: 0.85;
}

/*
window#waybar > box {
    border-radius: 10px;
    margin: 1px 2px 3px 4px;
    box-shadow: 1px 1px 1px 1px @grad_to;
}
*/

#custom-separator{
	font-size: 14px;
	color: @separator;
        padding-left: 2px;
        padding-right: 2px;
}

#battery,
#language,
#mode,
#network,
#custom-vpn,
#temperature,
#tray,
#backlight,
#custom-watts,
#pulseaudio,
#idle_inhibitor,
#custom-audio-monitor{
	padding-left: 4px;
	padding-right: 4px;
	background: transparent;
}

#custom-playerctl{
    padding-left: 6px;
    padding-right: 6px
}

#clock{
	padding-left: 0px;
	padding-right: 10px;
	background: transparent;
}

#idle_inhibitor,
#temperature,
#custom-audio-monitor,
#workspaces{
	padding-right: 0px;
}
#pulseaudio,
#workspaces{
   	padding-left: 0px;
}
#taskbar{
	padding-left: 2px;
	border-radius: 0;
}
#tray{
	padding-left: 6px;
	padding-right: 2px;
}

#custom-audio-monitor{
    font-size: 6pt;
}
#custom-scratchpad-indicator{
    font-size: 10px;
}
#custom-weather,
#custom-vpn{
	padding-left: 6px;
	padding-right: 6px;
	font-size: 8pt;
}

#mode,
#temperature,
#battery{
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#temperature.critical,
#battery.critical{
	color: @critical;
}
#network.disconnected,
#temperature.warning,
#battery.warning {
	color: @warning;
}

#mode,
#temperature.critical,
#battery.critical.discharging {
	animation-name: blink-critical;
	animation-duration: 2s;
}
#battery.warning.discharging {
	animation-name: blink-warning;
	animation-duration: 3s;
}


#workspaces button{
	border-top: 2px solid transparent;
	padding-left: 4px;
	padding-right: 4px;
}
#taskbar button{
	border-top: 2px solid transparent;
	padding-left: 1px;
	padding-right: 1px;
	border-bottom: 2px solid transparent;
}

#taskbar button.urgent,
#workspaces button.urgent{
	border-top: 2px solid @critical;
}

#taskbar button:hover,
#taskbar button.active,
#workspaces button.focused,
#workspaces button:hover{
	border-top: 2px solid @accent;
}
