@keyframes blink-warning {
	80% {
		color: @light;
	}

	to {
		color: @warning
	}
}

@keyframes blink-critical {
	80% {
		color: @light;
	}

	to {
		color: @critical;
	}
}


@define-color light #eceff4;
@define-color dark #2e3440;
@define-color warning #ff8070;
@define-color critical #ff3030;
@define-color generic #434c5e;
@define-color date #434c5e;
@define-color time #eceff4;

* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
}

#waybar {
	background: #232323;
	color: @light;
	font-family: "Terminus";
	font-size: 10pt;
	opacity: 0.85;
}

#battery,
#clock,
#cpu,
#language,
#memory,
#mode,
#idle_inhibitor,
#network,
#custom-vpn,
#pulseaudio,
#tray,
#backlight,
#custom-watts{
	padding-left: 6px;
	padding-right: 6px;
	background-color: @generic;
	background: @generic;
	color: @light;
}

#temperature{
	padding-left: 6px;
	padding-right: 2px;
	background-color: @generic;
	background: @generic;
	color: @light;
}

#custom-weather,
#taskbar{
	padding-left: 10px;
	padding-right: 10px;
	color: @light;
	font-size: 8pt;	
}


#custom-scratchpad-indicator,
#clock.time{
	background-color: @light;
	background: @light;
	color: @dark;
	opacity: 5;
}

/* Each module that should blink */
#mode,
#memory,
#temperature,
#battery {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
	color: @critical;
}

/* Each critical that should blink */
#mode,
#memory.critical,
#temperature.critical,
#battery.critical.discharging {
	animation-name: blink-critical;
	animation-duration: 2s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
	color: @warning;
}

#battery.warning.discharging {
	animation-name: blink-warning;
	animation-duration: 3s;
}

#workspaces button {
	padding-left: 4px;
	padding-right: 4px;
	color: @light;
	background: @generic;
}

#workspaces button.focused {
	background: @generic;
}

#workspaces button.urgent {
	border-color: #c9545d;
	color: #c9545d;
}

#window {
	margin-right: 40px;
	margin-left: 40px;
}

#custom-arrow-transparent-generic,
#custom-subarrow-transparent-generic,
#custom-arrow-transparent-generic-r,
#custom-subarrow-transparent-generic-r{
	font-size: 16px;
	color: @generic;
	background: transparent;
	font-family: "Terminus";
	font-size: 14pt;
}

#custom-arrow-generic-light,
#custom-subarrow-generic-light,
#custom-arrow-generic-light-r,
#custom-subarrow-generic-light-r{
	font-size: 16px;
	color: @light;
	background: @generic;
	font-family: "Terminus";
	font-size: 14pt;
}

#custom-subarrow-generic-dark,
#custom-subarrow-generic-dark-r{
	font-size: 16px;
	color: @dark;
	background: @generic;
	font-family: "Terminus";
	font-size: 14pt;
}

#custom-subarrow-transparent-light,
#custom-subarrow-transparent-light-r{
	font-size: 16px;
	color: @light;
	background: transparent;
	font-family: "Terminus";
	font-size: 14pt;
}